extends layout

block content
  h1= title
  p Welcome to the hat pug
  div(class="container-fluid")
        div(class="row")
            -
                let hat = results
            each v,index in hat
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.hat_name}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.colour}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }